@import url("../activeFilterSelector/index.css");
@import url("../chartContainer/index.css");
@import url("../loader/index.css");

.app-root {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-center-container {
  flex-grow: 1;
  overflow: hidden;
  max-width: 1400px;
}

.app-header {
  font-size: x-large;
  margin-bottom: 5px;
}

.app-content {
  display: flex;
}

.app-content-right {
  flex-shrink: 0;
}

.app-content-right {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  height: 700px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
